$key-height: 35px;
$key-width: 35px;
$container-width: 800px;

.container{
  width: $container-width;
  margin: 200px 20%;

  ul{
    width: $container-width * 0.64;
    &.bottom{
      li { border-bottom: 1px solid black; }
    }

    &.row{
      list-style: none;
      margin: 0;
      padding: 0;
      border-left: 1px solid black;
    }

    li{
      float: left;
      text-align: center;
      height: $key-height;
      width: $key-width;
      border-top: 1px solid black;
      border-right: 1px solid black;
      & p.note{ font-size: 12px; margin: 0;}
      &#del, &#tab, &#ctrl, &#left-cmd, &#right-cmd { width: $key-width * 1.5; }
      &#caps, &#return                              { width: $key-width * 1.75; }
      &#shift                                       { width: $key-width * 2.25; }
      &#opt                                         { width: $key-width * 1.25; }
      &#space                                       { width: $key-width * 6; }
    }
  }

  .keydown{ background: #05FF22; }

}
